<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutUs</title>
</head>
<body>
    <br />
    <br />
    <div>
        New Controller with About Action Method
    </div>
    <div>
        @Html.ActionLink("School", "School", "New")
        <br />
        @Html.ActionLink("Contact Us", "Contact", "New")
    </div>
</body>
</html>
