<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>School</title>
</head>
<body>
    <br />
    <br />
    <div> 
        New Controller with School Action Method
    </div>  
    <div>
        @Html.ActionLink("About Us","About","New")
        <br />
        @Html.ActionLink("Contact Us", "Contact", "New")
    </div>
</body>
</html>
